<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="email-container">
        <div class="email-header">
            <h1>Reset Your Password</h1>
        </div>
        <div class="email-content">
            <p>Hi {{username}},</p>
            <p>We received a request to reset your password. To complete the process, please click the button below:</p>
            <p style="text-align: center;">
                <a href="{{host}}api/users/reset_password_form/{{token}}">Reset Password</a>
            </p>
            <p>If you did not request a password reset, please ignore this email. Your account is safe.</p>
            <p>Thanks,</p>
            <p>The Our Team</p>
        </div>
        <div class="email-footer">
            <p>This email was sent to you because you requested a password reset. If you have any questions, please contact our support team.</p>
        </div>
    </div>
</body>
</html>